<ul class="vertNav">
  <li class="vertNavLink"><a href="/pets">Home</a></li>
  </br>
  <li class="vertNavLink"><a href="pets/new">Request a New Pet</a></li>
</ul>
<link rel="stylesheet" href="/app.css">
