<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
    </header>
    <h1>Edit Your Pet Choice</h1>
    <form action="/pets/<%pets.id%>?_method=PUT" method="POST">
      Species: <input type="text" name="species" /></br>
      Breed: <input type="text" name="breed" /></br>
      Photo: <input type="text" name="img" /></br>
      Ready To Go Home?: <type="checkbox" name="readyToGo"
        <% if(pets.readyToGo === true)
          { %>
            Checked
            <% } %>
      /></br>
      Price: <input type="number" name="price" /></br>
      Qty: <input type="number" name="qty" /></br>
      Care Rating: <input type="radio" name="rating" value="1">1
      <input type="radio" name="rating" value="2">2
      <input type="radio" name="rating" value="3">3
      <input type="radio" name="rating" value="4">4
      <input type="radio" name="rating" value="5">5</br>
      <input type="submit" name="" value="Submit Changes" />
    </form>
    <nav>
      <% include ./partials/head.ejs %>
    </nav>
  </body>
</html>
