<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <img class="logo" src="/images/logo.jpg" alt="logo"/>
    </header>
    <h1>So..You Want a Different Pet?</h1>
    <form action="/pets" method="POST">
      Species: <input type="text" name="species" /></br>
      Breed: <input type="text" name="breed" /></br>
      Photo: <input type="text" name="img" /></br>
      Ready To Go Home?: <input type="checkbox" name="readyToGo" /></br>
      Qty: <input type="number" name="qty" /></br>
      Price: <input type="number" name="price" /></br>
      Care Rating: <input type="radio" name="rating" value="1">*</br>
      <input type="radio" name="rating" value="2">**</br>
      <input type="radio" name="rating" value="3">***</br>
      <input type="radio" name="rating" value="4">****</br>
      <input type="radio" name="rating" value="5">*****</br>
      <input type="submit" name="" value="Submit New Pet Request" />
    </form>
    <div class=container>
      <nav>
        <% include ./partials/nav.ejs %>
      </nav>
    </div>
  </body>
</html>
