.logo{
  width: 70%;
  height: auto;
  background-color: white;
  border: 10px solid white;
  margin: 10px;
  padding: 10px;
}

img:not(.logo){
  width: 200px;
  height: auto;
  align-content: center;
  border: 10px solid white;
  margin: 10px;
  padding: 10px;
}

 body {
   background-color: #CECCCC;
   text-align: center;
   color: #536E93;
 }

h1 {
  font-size: 24px;
  text-align: center;
  color: #536E93;
}

h2 {
  font-size: 20px;
  color: #C58ED5;
  text-align: center;
}

body {
  font-size: 16px;
  text-align: center;
}

ul {
  font-size: 16px;
  list-style-type: none;
}

li {
  border: 10px solid white;
  margin: 10px;
  padding: 35px;
  /* width: 72%;
  height: auto; */
}

.vertNav {
  font-size: 16px;
  margin-top: 11px;
  padding: 15px;
  list-style-type: none;
  width: 150px;
  height: 100%;
  background-color: #536E93;
  border: 10px solid white;
}

.vertNavLink {
  border: none;
  margin: 2px;
}

.container {
  display: flex;
  justify-content: space-around;
}

a:hover {
  color: #C58ED5;
  text-decoration: none;
}

a:active {
   color: #536E93;
   text-decoration: underline;
}

a:link {
  color: #536E93;
  text-decoration: underline;
}

a:visited{
  color: #C58ED5;
  text-decoration: none;
}
